@charset "ISO-8859-1";

body {
	font-family: Arial;
	padding : 10px;
	background: #f1f1f1;
}

.header {
	padding : 10px;
	text-align: center;
	background: white;
	width: 80%;
	margin: auto;
}


.topnav  {
	overflow: hidden;
	background-color: darkblue;
	width:80%;
	margin:auto;
}

.topnav ul {
	list-style-type: none;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	letter-spacing: 1px;
	height: 70px;
}

.main {
	width: 80%;
	margin: auto;
}

.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.row:after {
	content:"";
	display: table;
	clear: both;
}

.cc {
	float:left;
	padding:5px;
}
.container {
	padding: 16px;
	width: 350px;
	margin: auto;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0; 
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

span.psw {
	float: right;
	padding-top: 16px;
}
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

img {
	width:auto;
	max-width: 185px;
	height: auto;
}
button:hover {
	opacity: 0.8;
}



.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
	width: 80%;
	margin: auto;
}
